/* ------Main Body Part Style-------  */
body {
    font-family: 'Finlandica', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

/* -----Header Part Styles------ */
header {
    margin-bottom: 100px;
    margin-right: 50px;
}

.container {
    display: flex;
    background-color: #d13dbd;
    color: whitesmoke;
    height: 610px;
    width: auto;
    border-radius: 30px;
    margin: 50px 80px;

}

.half-width {
    width: 50%;
    margin-left: 30px;
}

.text-part {
    padding-top: 50px;
    padding-left: 50px;
}

.text-part h1 {
    font-size: 60px;
    font-weight: 700;
}

.watch-button {
    background-color: #DD0000;
    border: none;
    padding: 15px 25px;
    color: whitesmoke;
    font-weight: 400;
    border-radius: 5px;
    font-size: 20px;
}

/* ------------Animation Button Part------------  */
.watch-button:hover {
    background-color: coral;
    transform: scale(1.5);
}

.half-width img {
    width: 580px;
    padding-right: 40px;
}

/* ---------Main Part Styles------------- */
.main-part {
    display: flex;
    margin: 50px 30px;
}

.menu-part {
    background-color: #161616;
    margin-left: 50px;
    height: 290px;
    width: 400px;
    border-radius: 15px;
    /* margin-right: 20px; */
}

.menu-part a {
    display: block;
    text-decoration: none;
    background-color: whitesmoke;
    padding: 15px 25px;
    margin: 2% 10%;
    margin-top: 10%;
    text-align: center;
    color: black;
    border-radius: 5px;
    font-weight: 800;
}

#special-blog {
    background-color: #DD0000;
    color: whitesmoke;
}

/* <!-- -----Upcoming Blogs Part Styles---- --!> */
.up-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3em;
    row-gap: 3em;
    padding: 0 4em;
}

.up-blog {
    margin: 10px 5px;
    width: 100%;
    box-shadow: 1px 1px 10px gainsboro;
    padding: 1em 1em;
    border-radius: 5px;
}

.flags {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discription {
    text-align: center;
    padding-top: 10px;
}

/* -----------Blogs Part Style--------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2em;
    column-gap: 1em;
    padding: 5px 30px;
}

.blog {
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
    width: 312px;
}

.blog img {
    display: block;
}

.blog-text {
    padding: 10px 20px;
    margin-bottom: 10px;
}

.blog-text button {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: aqua;
}

.ratings {
    display: flex;
}

.ratings img {
    margin-left: 15px;
}

.ratings span {
    margin-left: 5px;
}

.main-part .view-part {
    display: none;
}

/* ------------------Footer Part Styles---------  */
footer {
    background-color: #161616;
    color: aliceblue;
    padding-top: 100px;
}

.goal {
    text-align: center;
    border-bottom: 1px solid rgb(155, 138, 138);
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
}

.web-menu {
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    padding-top: 30px;
}

.social-icon {
    display: flex;
    justify-content: center;
    column-gap: 3em;
    margin-top: 50px;
}

.social-icon a {
    font-size: 40px;
    color: whitesmoke;

}

footer h4 {
    text-align: end;
    margin-right: 20px;
    font-weight: 100;
}


/* Media Quary Part in Our Web Site  */

/* -----------Mubail View------------------  */
@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .half-width img {
        width: auto;
        height: auto;
        margin-top: 50px;

    }

    .main-part {
        display: block;
    }

    .menu-part {
        background-color: white;
    }

    .blogs,
    .up-blogs {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .blog {
        width: auto;
    }

    .blog .first-img {
        width: 100%;
    }

    .main-part .view-part {
        display: none;
    }

    .web-menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3em;
    }

}

/* .....................Tablet View................. */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: auto;
        height: auto;
    }

    .container .text-part {
        width: 50%;
        padding-bottom: 50px;
    }

    .half-width {
        width: 50%;
    }

    .half-width img {
        width: 100%;
        height: 75%;
        padding-top: 200px;

    }

    .main-part {
        display: block;
        padding-top: 0;
        margin-top: 0;
    }

    .menu-part {
        background-color: white;
        display: flex;
        height: auto;
        width: auto;
        justify-content: space-around;
    }

    .menu-part a {
        text-align: center;
        padding: 5x 10px;
        display: flex;
        margin: 0;


    }

    .blogs,
    .up-blogs {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin-top: 50px;
    }

    .blog {
        width: auto;
    }

    .blog .first-img {
        width: 100%;
    }

    .blogs .hide-blog {
        display: none;
    }

    .up-blogs .hide-blog {
        display: none;
    }

    .main-part .view-part {
        display: block;
        display: flex;
        background-color: #DD0000;
        padding: 10px 60px;
        color: whitesmoke;
        border-radius: 5px;
        margin-left: 40%;
        margin-right: 38%;
        text-align: center;
    }

    .web-menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 3em;
        flex-direction: column;
        justify-content: center;
        /* justify-content: center;
        align-items: center;
        justify-items: center; */
    }
}

/* -------Yah!! Finaly I Have made a responsive website ---- */